<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--用来关联该xml文件所对应的java接口类，命名标签是唯一重复会找不到-->
<!-- mapper为映射的根节点，namespace指定Dao接口的完整类名
   mybatis会依据这个接口动态创建一个实现类去实现这个接口，
   而这个实现类是一个Mapper对象-->

<mapper namespace="com.example.pslnvoicing.mapper.xgy.KucunAssembleDetailsMapper">
    <resultMap id="assembleDetails" type="com.example.pslnvoicing.pojos.KucunAssembleDetails">
        <id column="assemble_details_id" property="assembleDetailsId"></id>
        <result column="assemble_details_warehouse" property="assembleDetailsWarehouse"></result>
        <result column="assemble_details_number" property="assembleDetailsNumber"></result>
        <result column="assemble_details_cost" property="assembleDetailsCost"></result>
        <result column="assemble_details_remark" property="assembleDetailsRemark"></result>
        <association property="kucunAssemble" javaType="com.example.pslnvoicing.pojos.KucunAssemble">
            <id column="assemble_id" property="assembleId"></id>
            <result column="assemble_odd" property="assembleOdd"></result>
            <result column="assemble_date" property="assembleDate"></result>
            <result column="assemble_money" property="assembleMoney"></result>
            <result column="assemble_warehouse" property="assembleWarehouse"></result>
            <result column="assemble_number" property="assembleNumber"></result>
            <result column="assemble_cost" property="assembleCost"></result>
            <result column="assemble_name" property="assembleName"></result>
            <result column="assemble_time" property="assembleTime"></result>
            <result column="assemble_state" property="assembleState"></result>
            <result column="assemble_remark" property="assembleRemark"></result>
            <association property="product" javaType="com.example.pslnvoicing.pojos.PslvoicingProduct">
                <id column="product_id" property="productId"></id>
                <result column="product_name" property="productName"></result>
                <result column="product_num" property="productNum"></result>
                <result column="product_spec" property="productSpec"></result>
                <result column="product_categories" property="productCategories"></result>
                <result column="product_unit" property="productUnit"></result>
                <result column="product_opening_num" property="productOpeningNum"></result>
                <result column="product_status" property="productStatus"></result>
                <result column="product_remark" property="productRemark"></result>
                <result column="product_create_time" property="productCreateTime"></result>
                <result column="product_sales_price" property="productSalesPrice"></result>
                <result column="product_purchase_price" property="productPurchasePrice"></result>
                <result column="product_opening_cost" property="productOpeningCost"></result>
                <association property="warehouse" javaType="com.example.pslnvoicing.pojos.PslnvoiningWarehouse">
                    <id column="warehouse_id" property="warehouseId"></id>
                    <result column="warehouse_name" property="warehouseName"></result>
                </association>
            </association>
        </association>
        <association property="product" javaType="com.example.pslnvoicing.pojos.PslvoicingProduct">
            <id column="product_id" property="productId"></id>
            <result column="product_name" property="productName"></result>
            <result column="product_num" property="productNum"></result>
            <result column="product_spec" property="productSpec"></result>
            <result column="product_categories" property="productCategories"></result>
            <result column="product_unit" property="productUnit"></result>
            <result column="product_opening_num" property="productOpeningNum"></result>
            <result column="product_status" property="productStatus"></result>
            <result column="product_remark" property="productRemark"></result>
            <result column="product_create_time" property="productCreateTime"></result>
            <result column="product_sales_price" property="productSalesPrice"></result>
            <result column="product_purchase_price" property="productPurchasePrice"></result>
            <result column="product_opening_cost" property="productOpeningCost"></result>
        </association>

    </resultMap>

    <select id="assembleDetailsList" resultMap="assembleDetails">
        select * from kucun_assemble_details a
                          LEFT JOIN kucun_assemble b ON a.assemble_id=b.assemble_id
                          Left join pslvoicing_product p on a.assemble_details_prouctId=p.product_id
        where a.assemble_id=#{assembleId}
    </select>

    <insert id="addAssembleDetails">
        insert into kucun_assemble_details values
        (#{assembleDetailsId},#{assembleId},#{product.productId},#{assembleDetailsWarehouse},
         #{assembleDetailsNumber},#{assembleDetailsCost},#{assembleDetailsRemark})
    </insert>




</mapper>
