<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pslnvoicing.mapper.workbench.DataStatisticsMapper">

    <resultMap id="TbDeliveryRatify" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="delivery_order_id" property="id"/>
        <result column="delivery_order_number" property="number"/>
        <result column="client_name" property="supplier"/>
        <result column="receivables" property="price"/>
        <result column="emp_name" property="submitter"/>
        <result column="create_time" property="submitterTime"/>
    </resultMap>
    <resultMap id="salesReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="sales_returns_id" property="id"/>
        <result column="sales_returns_number" property="number"/>
        <result column="client_name" property="supplier"/>
        <result column="receivables" property="price"/>
        <result column="emp_name" property="submitter"/>
        <result column="create_time" property="submitterTime"/>
    </resultMap>
    <resultMap id="TbOrderReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="order_id" property="id"/>
        <result column="order_number" property="number"/>
        <result column="client_name" property="supplier"/>
        <result column="account_receivable" property="price"/>
        <result column="emp_name" property="submitter"/>
        <result column="create_time" property="submitterTime"/>
    </resultMap>
    <resultMap id="CapitalSaleReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="sale_id" property="id"/>
        <result column="sale_number" property="number"/>
        <result column="client_name" property="supplier"/>
        <result column="sale_money" property="price"/>
        <result column="emp_name" property="submitter"/>
        <result column="sale_dat" property="submitterTime"/>
    </resultMap>
    <resultMap id="CapitalReceiptReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="receipt_id" property="id"/>
        <result column="receipt_number" property="number"/>
        <result column="client_name" property="supplier"/>
        <result column="receipt_money" property="price"/>
        <result column="emp_name" property="submitter"/>
        <result column="receipt_dat" property="submitterTime"/>
    </resultMap>
    <resultMap id="PurchaseWarehousingReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="p_w_id" property="id"/>
        <result column="p_w_warehousingnumber" property="number"/>
        <result column="supplier_name" property="supplier"/>
        <result column="p_sd_totalprice" property="price"/>
        <result column="emp_name" property="submitter"/>
        <result column="p_w_creationtime" property="submitterTime"/>
    </resultMap>
    <resultMap id="PurchaseOrderReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="p_o_id" property="id"/>
        <result column="p_o_purchasenumber" property="number"/>
        <result column="supplier_name" property="supplier"/>
        <result column="p_pd_totalprice" property="price"/>
        <result column="emp_name" property="submitter"/>
        <result column="p_o_creationtime" property="submitterTime"/>
    </resultMap>
    <resultMap id="CapitalPaymentReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="payment_id" property="id"/>
        <result column="payment_number" property="number"/>
        <result column="supplier_name" property="supplier"/>
        <result column="payment_money" property="price"/>
        <result column="emp_name" property="submitter"/>
        <result column="payment_dat" property="submitterTime"/>
    </resultMap>
    <resultMap id="AssembleReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="assemble_id" property="id"/>
        <result column="assemble_odd" property="number"/>
        <result column="supplier_name" property="supplier"/>
        <result column="assemble_money" property="price"/>
        <result column="assemble_name" property="submitter"/>
        <result column="assemble_date" property="submitterTime"/>
    </resultMap>
    <resultMap id="DismountingReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="dismounting_id" property="id"/>
        <result column="dismounting_odd" property="number"/>
        <result column="supplier_name" property="supplier"/>
        <result column="dismounting_money" property="price"/>
        <result column="dismounting_name" property="submitter"/>
        <result column="dismounting_date" property="submitterTime"/>
    </resultMap>
    <resultMap id="AllotReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="allot_id" property="id"/>
        <result column="allot_odd" property="number"/>
<!--        <result column="supplier_name" property="supplier"/>-->
        <result column="allot_money" property="price"/>
        <result column="allot_name" property="submitter"/>
        <result column="allot_date" property="submitterTime"/>
    </resultMap>
    <resultMap id="OutboundReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="outbound_id" property="id"/>
        <result column="outbound_number" property="number"/>
        <result column="supplier_name" property="supplier"/>
        <result column="dismounting_money" property="price"/>
        <result column="outbound_staff" property="submitter"/>
        <result column="outbound_time" property="submitterTime"/>
    </resultMap>
    <resultMap id="WarehouseReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="k_warehouse_id" property="id"/>
        <result column="warehouse_number" property="number"/>
        <result column="supplier_name" property="supplier"/>
        <result column="k_dismounting_money" property="price"/>
        <result column="k_warehouse_staff" property="submitter"/>
        <result column="k_warehouse_time" property="submitterTime"/>
    </resultMap>

    <resultMap id="PurchaseReturnReturns" type="com.example.pslnvoicing.vo.workbench.RatifyVo">
        <id column="p_r_id" property="id"/>
        <result column="p_r_returnnumber" property="number"/>
        <result column="supplier_name" property="supplier"/>
        <result column="p_rd_totalprice" property="price"/>
        <result column="emp_name" property="submitter"/>
        <result column="p_r_creationtime" property="submitterTime"/>
    </resultMap>

    <select id="queryPaymentByState" resultType="integer">
        SELECT sum(payment_money) FROM capital_payment WHERE rpayment_state = 1
    </select>

    <select id="queryReceiptByState" resultType="integer">
        SELECT sum(receipt_money) FROM capital_receipt WHERE receipt_state = 1
    </select>

    <select id="queryWarehousingByTimeNow" parameterType="string" resultType="com.example.pslnvoicing.vo.workbench.DataStatisticsVo">
        select sum(p_w_jine) as sum,COUNT(*) as count from purchase_warehousing
        <where>
            <if test='saleT != null and saleT == "天"'>
                to_days(p_w_storagedate) = to_days(now()) and p_w_approvalstatus = 2;
            </if>
            <if test='saleT != null and saleT == "周"'>
                YEARWEEK(date_format(p_w_storagedate,'%Y-%m-%d')) = YEARWEEK(now()) and p_w_approvalstatus = 2;
            </if>
            <if test='saleT != null and saleT == "月"'>
                DATE_FORMAT( p_w_storagedate, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m') and p_w_approvalstatus = 2;
            </if>
        </where>

    </select>

    <select id="queryWarehousingByTimePreviously" resultType="com.example.pslnvoicing.vo.workbench.DataStatisticsVo">
        select sum(p_w_jine) as sum,COUNT(*) as count from purchase_warehousing
        <where>
            <if test='saleT != null and saleT == "天"'>
                DATEDIFF(p_w_storagedate,NOW())=-1 and p_w_approvalstatus = 2
            </if>
            <if test='saleT != null and saleT == "周"'>
                YEARWEEK(date_format(p_w_storagedate,'%Y-%m-%d')) = YEARWEEK(now())-1 and p_w_approvalstatus = 2
            </if>
            <if test='saleT != null and saleT == "月"'>
                PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( p_w_storagedate, '%Y%m' ) ) =1 and p_w_approvalstatus = 2
            </if>
        </where>
    </select>

    <select id="queryDeliverygByTimeNow" resultType="com.example.pslnvoicing.vo.workbench.DataStatisticsVo">
        select sum(receivables)as sum,COUNT(*) as count from td_delivery_order
        <where>
            <if test='saleT != null and saleT == "天"'>
                to_days(delivery_time) = to_days(now()) and approval_status = 2;
            </if>
            <if test='saleT != null and saleT == "周"'>
                YEARWEEK(date_format(delivery_time,'%Y-%m-%d')) = YEARWEEK(now()) and approval_status = 2;
            </if>
            <if test='saleT != null and saleT == "月"'>
                DATE_FORMAT( delivery_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m') and approval_status = 2;
            </if>
        </where>
    </select>

    <select id="queryDeliveryByTimePreviously" resultType="com.example.pslnvoicing.vo.workbench.DataStatisticsVo">
        select sum(receivables) as sum,COUNT(*) as count from td_delivery_order
        <where>
            <if test='saleT != null and saleT == "天"'>
                DATEDIFF(delivery_time,NOW())=-1 and approval_status = 2
            </if>
            <if test='saleT != null and saleT == "周"'>
                YEARWEEK(date_format(delivery_time,'%Y-%m-%d')) = YEARWEEK(now())-1 and approval_status = 2
            </if>
            <if test='saleT != null and saleT == "月"'>
                PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( delivery_time, '%Y%m' ) ) =1 and approval_status = 2
            </if>
        </where>
    </select>

    <select id="queryWarehouseNumber" resultType="com.example.pslnvoicing.vo.workbench.DataStatisticsVo">
        SELECT sum(product_purchase_price) as sum, sum(product_opening_num) as count  FROM pslvoicing_product
    </select>
    
    <select id="queryTbDeliveryRatify" resultMap="TbDeliveryRatify">
        SELECT a.delivery_order_id,a.delivery_order_number,a.receivables,a.create_time,b.emp_name,c.client_name FROM td_delivery_order a LEFT JOIN personnel_emp b on a.emp_id = b.emp_id LEFT JOIN pslnvoicing_client c on c.client_id = a.client_id WHERE approval_status = #{approvalStatus}
    </select>

    <select id="querySalesReturns" resultMap="salesReturns">
        SELECT a.sales_returns_id,a.sales_returns_number,a.receivables,a.create_time,b.emp_name,c.client_name FROM td_sales_returns a LEFT JOIN personnel_emp b on a.emp_id = b.emp_id LEFT JOIN pslnvoicing_client c on c.client_id = a.client_id  WHERE approval_status = #{approvalStatus}
    </select>

    <select id="queryTbOrderReturns" resultMap="TbOrderReturns">
         SELECT a.order_id,a.order_number,a.account_receivable,a.create_time,b.emp_name,c.client_name
         FROM tb_order a LEFT JOIN personnel_emp b on a.emp_id = b.emp_id
         LEFT JOIN pslnvoicing_client c on c.client_id = a.client_id
          WHERE approval_status = #{approvalStatus}
    </select>

    <select id="queryCapitalReceiptReturns" resultMap="CapitalReceiptReturns">
        SELECT a.*,c.client_name FROM capital_receipt a  LEFT JOIN pslnvoicing_client c on c.client_id = a.client_id WHERE a.receipt_state = #{approvalStatus}
    </select>

    <select id="queryCapitalSaleReturns" resultMap="CapitalSaleReturns">
        SELECT a.*,b.emp_name,c.client_name FROM capital_sale a LEFT JOIN personnel_emp b on a.xs_id = b.emp_id LEFT JOIN pslnvoicing_client c on c.client_id = a.client_id WHERE a.sale_state = #{approvalStatus}
    </select>

    <select id="queryPurchaseWarehousingReturns" resultMap="PurchaseWarehousingReturns">
         SELECT a.p_w_id,a.p_w_warehousingnumber,a.p_w_creationtime,b.emp_name,c.supplier_name,d.p_sd_totalprice FROM purchase_warehousing a LEFT JOIN personnel_emp b on a.emp_id = b.emp_id LEFT JOIN pslnvoicing_suppier c on c.supplier_id = a.supplier_id left JOIN purchase_storagedetails d on a.p_w_id=d.p_w_id WHERE a.p_w_approvalstatus = #{approvalStatus}
    </select>

    <select id="queryPurchaseOrderReturns" resultMap="PurchaseOrderReturns">
         SELECT a.p_o_id,a.p_o_purchasenumber,a.p_o_creationtime,b.emp_name,c.supplier_name,d.p_pd_totalprice FROM purchase_order a LEFT JOIN personnel_emp b on a.emp_id = b.emp_id LEFT JOIN pslnvoicing_suppier c on c.supplier_id = a.supplier_id left JOIN purchase_productdetails d on a.p_o_purchasenumber=d.p_o_purchasenumber WHERE a.p_o_approvalstatus = #{approvalStatus}
    </select>

    <select id="queryPurchaseReturnReturns" resultMap="PurchaseReturnReturns">
         SELECT a.p_r_id,a.p_r_returnnumber,a.p_r_creationtime,b.emp_name,c.supplier_name,d.p_rd_totalprice FROM purchase_return a LEFT JOIN personnel_emp b on a.emp_id = b.emp_id LEFT JOIN pslnvoicing_suppier c on c.supplier_id = a.supplier_id left JOIN purchase_returndetails d on a.p_r_id=d.p_r_id WHERE a.p_r_approvalstatus = #{approvalStatus}
    </select>

    <select id="queryCapitalPaymentReturns" resultMap="CapitalPaymentReturns">
        SELECT a.*,c.supplier_name FROM capital_payment a  LEFT JOIN pslnvoicing_suppier c on c.supplier_id = a.supplier_id WHERE a.rpayment_state = #{approvalStatus}
    </select>


    <select id="queryAssembleReturns" resultMap="AssembleReturns">
        select * from kucun_assemble where assemble_state = #{approvalStatus};
    </select>

    <select id="queryDismountingReturns" resultMap="DismountingReturns">
        select * from kucun_dismounting where dismounting_state = #{approvalStatus};
    </select>

    <select id="queryAllotReturns" resultMap="AllotReturns">
        select * from kucun_allot where allot_state = #{approvalStatus}
    </select>

    <select id="queryOutboundReturns" resultMap="OutboundReturns">
        select * from kucun_outbound where approval_status = #{approvalStatus}
    </select>

    <select id="queryWarehouseReturns" resultMap="WarehouseReturns">
        select * from kucun_warehouse where k_approval_status = #{approvalStatus}
    </select>

    <update id="updateReturnsRatify">
        update
        <if test='numberType == "销售出库"'>
            td_delivery_order set approval_status = #{param2} where delivery_order_id = #{param3}
        </if>
        <if test='numberType == "销售退货"'>
            td_sales_returns set approval_status = #{param2} where sales_returns_id = #{param3}
        </if>
        <if test='numberType == "销售订单"'>
            tb_order set approval_status = #{param2} where order_id = #{param3}
        </if>
        <if test='numberType == "销售收款"'>
            capital_receipt set receipt_state = #{param2}
            where receipt_id == #{param3}
        </if>
        <if test='numberType == "销售开票"'>
            capital_sale set sale_state = #{param2} where sale_id = #{param3}
        </if>
        <if test='numberType == "采购入库"'>
            purchase_warehousing set p_w_approvalstatus = #{param2} where p_w_id = #{param3}

        </if>
        <if test='numberType == "采购订单"'>
            purchase_order set approval_status = #{param2} where p_o_id = #{param3}
        </if>
        <if test='numberType == "采购退货"'>
            purchase_return set p_r_approvalstatus = #{param2} where p_r_id = #{param3}
        </if>
        <if test='numberType == "付款"'>
            capital_payment set rpayment_state = #{param2} where payment_id = #{param3}
        </if>
        <if test='numberType == "组装单"'>
            kucun_assemble set assemble_state = #{param2} where assemble_id = #{param3}
        </if>
        <if test='numberType == "调拨单"'>
            kucun_allot set allot_state = #{param2} where allot_id = #{param3}
        </if>
        <if test='numberType == "拆装单"'>
            kucun_dismounting set dismounting_state = #{param2} where dismounting_id = #{param3}
        </if>
        <if test='numberType == "其他出库"'>
            kucun_outbound set approval_status = #{param2} where outbound_id = #{param3}
        </if>
        <if test='numberType == "其他入库"'>
            kucun_warehouse set k_approval_status = #{param2} where k_warehouse_id = #{param3}
        </if>
    </update>
</mapper>