<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pslnvoicing.mapper.purchase.PurchaseListMapper">
    <resultMap id="purchaseOrderListMap" type="com.example.pslnvoicing.pojos.PurchaseOrder">
        <id property="pOId" column="p_o_id" />
        <result property="pOPurchasenumber" column="p_o_purchasenumber" />
        <result property="pODocumentdate" column="p_o_documentdate" />
        <result property="pODeliverydate" column="p_o_deliverydate" />
        <result property="pOJine" column="p_o_jine" />
        <result property="pOPurchasingstaff" column="p_o_purchasingstaff" />
        <result property="pOApprovalstatus" column="p_o_approvalstatus" />
        <result property="pOFinalapprovaltime" column="p_o_finalapprovaltime"/>
        <result property="pOExecutionstatus" column="p_o_executionstatus"/>
        <result property="pORepositorystatus" column="p_o_repositorystatus"/>
        <result property="pONotesondocuments" column="p_o_notesondocuments"/>
        <result property="pOCreationtime" column="p_o_creationtime"/>
        <result property="pOModificationtime" column="p_o_modificationtime"/>
        <result property="pWWarehousingnumber" column="p_w_warehousingnumber"/>

        <association property="empId" javaType="com.example.pslnvoicing.pojos.PersonnelEmp">
            <id property="empId" column="emp_id"/>
            <result property="empName" column="emp_name" />
            <result property="empGender" column="emp_gender" />
            <result property="empPhone" column="emp_phone" />
            <result property="empEmil" column="emp_emil" />
            <result property="empPassword" column="emp_password" />
            <result property="deptId" column="dept_id" />
        </association>

        <association property="supplierId" javaType="com.example.pslnvoicing.pojos.PslnvoicingSuppier" >
            <id property="supplierId" column="supplier_id" />
            <result property="supplierName" column="supplier_name"/>
        </association>

        <association property="warehouseId" javaType="com.example.pslnvoicing.pojos.PslnvoiningWarehouse">
            <id property="warehouseId"  column="warehouse_id" />
            <result property="warehouseName" column="warehouse_name"/>
        </association>
    </resultMap>

    <select id="purchaseOrderall" resultMap="purchaseOrderListMap" parameterType="com.example.pslnvoicing.vo.ParameterVo">
        select * FROM purchase_order p
        inner JOIN personnel_emp pe on p.emp_id=pe.emp_id inner JOIN  pslnvoicing_suppier ps on
        p.supplier_id=ps.supplier_id  inner JOIN pslnvoining_warehouse pw on p.warehouse_id=pw.warehouse_id
        <where>


            <if test="parameterVo.startTime != null and parameterVo.startTime != '' and parameterVo.endTime != null and parameterVo.endTime != '' ">
                and p.p_o_documentdate >= #{parameterVo.startTime} and p.p_o_documentdate &lt; #{parameterVo.endTime}
            </if>

            <if test="parameterVo.orderStatus != null">
                and p.p_o_approvalstatus = #{parameterVo.orderStatus}
            </if>

            <if test="parameterVo.empNameOrStoreNameOrNumber != null and parameterVo.empNameOrStoreNameOrNumber != ''">
                and (pw.warehouse_name like #{parameterVo.empNameOrStoreNameOrNumber}
                or pe.emp_name like #{parameterVo.empNameOrStoreNameOrNumber}
                or p.p_o_purchasenumber like #{parameterVo.empNameOrStoreNameOrNumber})
            </if>
        </where>
    </select>

</mapper>