<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.pslnvoicing.mapper.CapitalPaymentDMapper">
    <resultMap id="fxq" type="com.example.pslnvoicing.pojos.CapitalPaymentDetails">
        <id column="payment_details_id" property="paymentDetailsId"/>
        <result column="payment_id" property="paymentId" />
    </resultMap>

</mapper>