<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pslnvoicing.model.mapper.CapitalPaymentMapper">
    <resultMap id="fukuan" type="com.example.pslnvoicing.model.pojos.CapitalPayment">

    </resultMap>
</mapper>